.cardsWidthPokemons {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.widthCheckbox {

  .ant-checkbox-wrapper {
    color: black;
    font-weight: bold;
  }
}

.widthPagination {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapperContentWidth {
  max-width: 100%;
  height: 100%;
}

.widthSider {
  margin-top: 20px;
  margin-left: 20px;
}

.widthSiderTypes {
  margin-right: 10px;
  margin-top: 4px;
}

.widthDropdown {
  margin-right: 10px;
}

@media screen and (min-width:100px) and (max-width:750px) {
  .wrapperContentWidth {
    display: flex !important;
    flex-direction: column !important;

    .widthSider {
      display: flex;
      margin-top: 10px;
    }
  }
 }

 @media screen and (min-width:100px) and (max-width:790px) {
  
  .widthContentPokemon {
    margin-left: 0px;
  }

  .flexContentWidth {
    padding: 0 10px;
  }
 }


